* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 4rem;
  background-color: #383241;
  background: linear-gradient(
    0deg,
    rgba(132, 126, 137, 1) 0%,
    rgba(56, 50, 65, 1) 100%
  );

  color: #bcb2a6;
}

a {
  color: #b3a6a6;
}

h1,
h2 {
  color: antiquewhite;
}

h1 {
  margin: 0 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 74, 84);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px #6c83751a;
}

.card p {
  margin: 1rem 0;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-left: 2rem;
}
