{% extends'base.html.twig' %}

{% block title %}Calculator
{% endblock %}

{% block body %}
	<main class="container">
		<div>
			<h2>Enter your calculation:</h2>

			{# path name defined in Controller! #}
			<form method="get" action="{{ path('calculator') }}">
				<input type="number" name="value1" class="input" id="value1" autocomplete="off">

				<select name="operation" id="operation">
					<option value="addition">+ Add</option>
					<option value="subtraction">- Subtract</option>
					<option value="multiplication">* Multiply</option>
					<option value="division">/ Divide</option>
				</select>
				<input type="number" name="value2" class="input" id="value2" autocomplete="off">
				<input type="submit">

			</form>
		</div>
		{% if solution %}
			<h3>Solution:</h3>
			<p>{{ solution }}</p>
		{% endif %}
	</main>
{% endblock %}
