{% extends'base.html.twig' %}

{% block title %}Link Pages
{% endblock %}

{% block body %}
	<main class="container">


		{% if homeData %}
			<h2>Home Data</h2>
			<table class="table" border="1">
				<thead>
					<tr>
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				{% for key, value in homeData %}
					<tr>
						<td>{{ key|replace({'_': ' '})|title }}</td>
						<td>{{ value }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
		<p>
			<a href="./about">About</a>
		</p>
	</main>
{% endblock %}
