{% extends'base.html.twig' %}

{% block title %}Link Pages
{% endblock %}

{% block body %}
	<main class="container">


		<h2>About</h2>

		<p>{{ aboutString }}</p>


		<p>
			<a href="./home">Home</a>
		</p>
	</main>
{% endblock %}
